#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.board{
    width: 480px;   
    height: 480px;
    border: 1px solid salmon;
    display: grid;
    grid-template-columns: repeat(10, 48px);
    grid-template-rows: repeat(10, 48px);
}
.cell{
    height: 48px;
    width: 48px;
    border: 1px solid black;
    white-space: nowrap;
overflow: hidden;
    text-overflow: clip;
}

.occupied{
    background-color: orange;
}
.hit{
    background-color: red;
}